.container {  display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    grid-template-rows: 0.4fr 2fr 0.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "head head"
      "User-info Transactions"
      "Charts Charts";
  }
  
  .head {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10.7fr 0.1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . .";
    grid-area: head;
  }
  
  .User-info { grid-area: User-info; }
  
  .Transactions { grid-area: Transactions; }
  
  .Charts { grid-area: Charts; }
  